@{
    ViewBag.Title = "Home Page";
}

<img src="~/Images/visionmission.jpg" style="width:100%; height: 100%" />

<div class="jumbotron">
    <h1>PayEm</h1>
    <p class="lead">
        PayEm is a free interface that lets you make simple, easy and quick payment transactions
        using concept of Unified Payments Interface (UPI). You can make instant bank-to-bank payments and Pay and collect money using just Mobile number
        or Virtual Payment Address (UPI ID).
    </p>
    <p><a href="https://www.npci.org.in/what-we-do/bhim/product-overview" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Cash and card payments are no longer a complete solution for your customers. Join the UPI revolution.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Get more secure</h2>
        <p>PayEm provides secure UPI, card and wallet payment options which can easily be integrated on your app or website.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Advertise</h2>
        <p>PayEm can help you reach a wide user-base with targeted campaigns designed to meet your business needs.</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

<img src="~/Images/bhim.png" style="width: 100%; height: 100%" />